{{! Creates a button that will send the onCloseButtonPress action}}
<button {{action 'onCloseButtonPress'}}>Close</button>

{{! Creates post-details component and passes title, author, and subreddit details to it }}
{{post-details title=postData.data.title author=postData.data.author subreddit=postData.data.subreddit}}

<div class='post-overlay-contents'>
  {{#unless postData.data.is_self}}
    {{! displays and image unless the post is a self post }}
    <a href={{postData.data.url}}>(source)</a><br>
    <img class='post-image' src={{postData.data.url}}/>
  {{else}}
    {{! if post is a self post, show self post text }}
    {{postData.data.selftext}}
  {{/unless}}
</div>